<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Redirect2me Worker Node</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg">
		<link rel="stylesheet" href="/css/water.css">
	</head>
	<body>
		<h1><img src="/favicon.svg" style="height:1em;"> Redirect2me Worker Node</h1>
		<p>This is a worker node for the Redirect2me service.</p>
		<p>Please refer to the main <a href="https://www.redirect2.me/">redirect2.me</a> website for more information.</p>
	</body>
</html>